.CardHeaderCss{
    width: 794px;
    background-color: #F2F9FC;
    border: solid 1px #2833D1;
    height: 50px;
}

.CardBodyCss {
    width: 794px;
    background-color: #ffffff;
    border: solid 1px black;
}